<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9343eaab-f70a-4fb7-8a52-959e4a377ca6/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.Web/sites/DapperWebAPI20230530225616</ResourceId>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <ApiResourceId>/subscriptions/9343eaab-f70a-4fb7-8a52-959e4a377ca6/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.ApiManagement/service/DapperWebAPIapi/apis/DapperWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dapperwebapi20230530225616.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2c7f2632-2901-462b-a76c-27ea988526e7</ProjectGuid>
    <MSDeployServiceURL>dapperwebapi20230530225616.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DapperWebAPI20230530225616</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$DapperWebAPI20230530225616</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>